# Place in /etc/systemd/system
# Install with `systemctl enable timtamcam.service`

[Unit]
Description=Tim Tam Cam

[Service]
WorkingDirectory=/home/pi/tim-tam-cam/
ExecStart=/usr/bin/sudo /usr/bin/env python3 /home/pi/tim-tam-cam/timtamcam.py
Restart=always
RestartSec=300
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
